.about__main{
    padding: 5rem 10rem;
    @media screen and (max-width: 1300px) {
        padding: 5rem;
    }
    @media screen and (max-width: 1200px) {
        padding: 2rem;
        
    }
    @media screen and (max-width: 820px) {
        padding: 2rem;        
    }
    @media screen and (max-width: 480px) {
        padding: 1rem;        
    }
}
.about__main__content{
    display: flex;
    gap: 60px;
    justify-content: space-evenly;
    align-items: center;
    @media screen and (max-width:1200px) {
        gap: 40px;        
    }
    @media screen and (max-width: 960px) {
        flex-direction: column;  
    }
}

.about__main__img{
    width: 60%;
    @media screen and (max-width: 960px) {
        width: 100%;        
    }
}

.main__img{
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 36px;
    width: 580px;
    height: 750px;
    @media screen and (max-width:1200px) {
        width: 480px;
        height: 600px;
        
    }
    @media screen and (max-width: 960px) {
        width: 380px;
        height: 500px;        
    }
}

.about__main_text{
    width: 50%;
    @media screen and (max-width: 960px) {
        width: 100%;
    }
}
.about__us__sub_head{
    margin-top: 20px;
    font-size: 3rem;
    letter-spacing: 2px;

}
.about__us__content{
    margin-top: 10px;
    line-height: 2rem;
}
.about__sub__conent{
    font-weight: 700;
}
