/* .about__main{
    padding: 5rem;
    @media screen and (max-width:1200px) {
        padding: 2rem;
    }
    @media screen and (max-width:1024px) {
        padding: 1.5rem;        
    }
    @media screen and (max-width:960px) {
        padding: 1rem;        
    }
} */
.about__main__content{
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    align-items: top;
    margin-bottom: 50px;
    @media screen and (max-width:1200px) {
        gap: 60px;        
    }
    @media screen and (max-width: 960px) {
        flex-direction: column; 
    }
}

.about__main__img{
    width: 50%;
    @media screen and (max-width: 960px) {
        width: 100%;        
    }
}

.about__main_text{
    width: 50%;
    @media screen and (max-width: 960px) {
        width: 100%;
    }
}
.about__us__sub_head{
    margin-top: 20px;
    font-size: 3rem;
    letter-spacing: 2px;
    text-align: left;
    @media screen and (max-width:1024px){
        font-size: 2rem;        
    }
}
.about__us__content{
    margin-top: 10px;
    line-height: 2rem;
}
.about__sub__conent{
    font-weight: 700;
}
.about__content{
    font-size: 18px;
    text-align:justify;
    @media screen and (max-width:1024px) {
        font-size: 14px;        
    }
}
