.mission__vision__main{
    /* margin-top: 10px; */
    padding: 0rem 1rem;
}
.mission__vision__main__left{
    /* margin-top: 40px; */
    align-items: center;
    text-align: center;
}
.text__content-con{
    font-size: 4rem;
    font-weight: 100;
    color: #010e2c;
    /* text-align: center; */
    @media screen and (max-width: 1024px) {
        font-size: 3rem;    
    }
}