.team__main__container{
     padding: 1rem;
     @media screen and (max-width:768px) {
        padding: 1.5rem;
    }     
}
.team__content__title{
    text-align: center;
    margin-top: 50px;
}
.main__title{
    font-size: 4rem;
    font-weight: 100;
    color: #010e2c;
    margin-bottom: -10px;
    @media screen and (max-width: 768px) {
        font-size: 2rem;       
    }
}
.line {
    border-top: 3px solid #010e2c;
    height: 2px;
    width: 100px;
    margin: 5px auto;
}
.team__content{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin: 20px auto;
    @media screen and (max-width:960px) {
        gap: 20px;        
    }
    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 30px;        
    }
}
.team_cont{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin: 10px auto;
    @media screen and (max-width:960px) {
        gap: 20px;        
    }
    @media screen and (max-width: 768px) {
        flex-direction: column;  
        gap: 30px;    
    }
}
